<!DOCTYPE html>
<html>

    <head>
        <title>{{ action|capitalize() }} user: {{ user.name }}?</title>
    </head>

    <body>
        <h1>{{ action|capitalize() }} user: {{ user.name }}?</h1>

        <form method="POST" action="{{ url_for('user_activation', user_id=user.id) }}">
            {{ form.csrf_token }}            
            {% if form.csrf_token.errors %}
            <div class="warning">You have submitted an invalid CSRF token</div>
            {% endif %}

            <div><input type="submit" value="{{ action|capitalize() }}"></div>

        </form>

        <h2> User info </h2>

         <table border="1">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>email</td>
                    <td>admin</td>
                    <td>activated</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.admin }}</td>
                    <td>{{ user.activated }}</td>
                </tr>
            </tbody>
        </table>

    </body>

</html> 