<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
    </head>

    <body>
        <h1>Admin</h1>

        <h2>Users</h2>

        <table border="1">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>email</td>
                    <td>admin</td>
                    <td>activated</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.admin }}</td>
                    <td>{{ user.activated }}</td>
                    <td>
                        {% if not user.admin %}
                            {% if user.activated %}
                            <a href="{{ url_for('user_activation', user_id=user.id) }}">Deactivate</a>
                            {% else %}
                            <a href="{{ url_for('user_activation', user_id=user.id) }}">Activate</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </body>

</html> 