{% extends "base.html" %}

{% set pagename = 'home' %}

{% block title %}Catalog{% endblock %}

{% block body %}

    <body>
        <h1>Categories</h1>

        {% if logged_in and ( user.admin or user.activated ) %}
        <p><a href="{{ url_for('newTag') }}">New Category</a></p>
        {% endif %}

        <ul>
        {% for tag in tags %}
            <li><a href="{{ url_for('viewTag', tag_name=tag.name) }}">{{ tag.name }}</a></li>
        {% else %}
            <li>No categories here.</li>
        {% endfor %}
        </ul>

        <h1>Items</h1>

        {% if logged_in and ( user.admin or user.activated ) %}
        <p><a href="{{ url_for('newItem') }}">New Item</a></p>
        {% endif %}

        <ul>
        {% for item in items %}
            <li>
                <a href="{{ url_for('viewItem', item_name=item.name, item_id=item.id) }}">{{ item.name }}</a>
                {% if item.tags %}{% set comma = joiner(", ") %}
                (
                    {% for tag in item.tags %}
                        {{- comma() }}<a href="{{ url_for('viewTag', tag_name=tag.name) }}">{{ tag.name }}</a>
                    {%- endfor %}
                )
                {% endif %}
            </li>
        {% else %}
            <li>No items here.</li>
        {% endfor %}
        </ul>

{% endblock %}