{% extends "base.html" %}

{% if action == 'newItem' %}
    {% set title_verb = 'New' %}
{% elif action == 'editItem' %}
    {% set title_verb = 'Edit' %}
{% endif %}

{% block title %}{{ title_verb }} Item{% endblock %}

{% block body %}

        <h1>{{ title_verb }} Item</h1>

        <form method="POST" action="{% if action == 'newItem' %}{{ url_for('newItem') }}{% elif action == 'editItem' %}{{ url_for('editItem', item_name=item.name, item_id=item.id) }}{% endif %}">
            {{ form.csrf_token }}
            <div>{{ form.name.label }}: {{ form.name }}</div>
            {% if form.name.errors %}
                <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            
            <div>{{ form.description.label }}: {{ form.description }}</div>
            {% if form.description.errors %}
                <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>{{ form.picture_url.label }}: {{ form.picture_url }}</div>
            {% if form.picture_url.errors %}
                <ul class="errors">{% for error in form.picture_url.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>{{ form.tags.label }}: {{ form.tags }}</div>
            
            
            {% if form.csrf_token.errors %}
            <div class="warning">You have submitted an invalid CSRF token</div>
            {% endif %}

            <div><input type="submit" value="Submit"></div>
        </form>

{% endblock %} 