{% extends "base.html" %}

{% if action == 'newTag' %}
    {% set title_verb = 'New' %}
{% elif action == 'editTag' %}
    {% set title_verb = 'Edit' %}
{% endif %}


{% block title %}{{ title_verb }} Category{% endblock %}

{% block body %}

        <h1>{{ title_verb }} Category</h1>

        <form method="POST" action="{% if action == 'newTag' %}{{ url_for('newTag') }}{% elif action == 'editTag' %}{{ url_for('editTag', tag_name=tag.name) }}{% endif %}">
            {{ form.csrf_token }}
            <div>{{ form.tag_name.label }}: {{ form.tag_name }}</div>
            
            {% if form.tag_name.errors %}
                <ul class="errors">{% for error in form.tag_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            
            {% if form.csrf_token.errors %}
            <div class="warning">You have submitted an invalid CSRF token</div>
            {% endif %}

            <div><input type="submit" value="Submit"></div>
        </form>

{% endblock %} 