<!DOCTYPE html>
<html>
    <head>
        <title>Item: {{ item.name }}</title>
    </head>

    <body>
        <h1>Item: {{ item.name }}</h1>

        <h2>Description</h2>

        {% if item.description %}

        <p>{{ item.description }}</p>

        {% else %}

        <p>No description.</p>

        {% endif %}

        <h2>Categories</h2>
        <ul>
        {% for tag in item.tags %}
            <li><a href="{{ url_for('viewTag', tag_name=tag.name) }}">{{ tag.name }}</a></li>
        {% else %}
            <li>No categories here.</li>
        {% endfor %}
        </ul>


        {% if owner %}
        <p>
            <a href="{{ url_for('editItem', item_name=item.name, item_id=item.id) }}">Edit</a><br>
            <a href="{{ url_for('deleteItem', item_name=item.name, item_id=item.id) }}">Delete</a>
        </p>
        {% endif %}

    </body>

</html> 